*{
    box-sizing: border-box;
}

/*estilo do body*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.anotacao {
    background-color: rgb(201, 247, 157);
    padding: 5px;
    text-align: center;
}

.cabecalho {
    padding: 60px;
    text-align: center;
    background-image: url(/imagem/notebook.png);
    background-size: cover;
    color: aliceblue;
}
/*estilo da barra de navegação*/
.barra_nav {
    display: flex;
    background-color: rgb(192, 240, 147);
}
 /*estilo dos links da barra de navegação*/
 .barra_nav a{
    color: white;
    padding: 14px 10px;
    text-decoration: none;
    text-align: center;
 }
 /*Trocar a cor de fundo do link quando o cursor esiver sobre o link*/
 .barra_nav a:hover {
    background-color: rgb(12, 120, 43);
    color: aliceblue;
 }
 /*configurar a div coluna*/
 .coluna {
    display: flex;
    flex-wrap: wrap;

 }
 /*Criar 2 colunas desiguais (30 e 70%) */
 .lateral {
    flex: 30%;
    background-color: rgb(155, 194, 119);
    padding: 20px;

 }
 .principal {
    flex: 70%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
 }
 /*Imagens falsas apenas para marcação do espaço*/
 .imagem_falsa {
    background-color: rgb(201, 247, 157);
    width: 100%;
    padding: 20px;
    height: 200px;
 }
 .imagem_falsa2 {
    background-color: rgb(201, 247, 157);
    width: 100%;
    padding: 20px;
    height: 60px;
    margin-bottom: 10px;
 }
 .imagem_falsa3 {
    background-color: rgb(201, 247, 157);
    width: 100%;
    padding: 20px;
    height: 200px;
   
 }
 @media screen and (max-width:500px) {
    .coluna, .barra_nav {
        flex-direction: column;
    }
    .cabecalho{
        background-image: url(/imagem/celular.png);
        background-size: cover;
        color: white;
    }
 }